/profile-inputs.json
/profile-dcode-inputs.json
/profile
/profile-summary.csv
/profile-samples.h5
/profile-diag.txt
/full-inputs.json
/full
/full-summary.csv
/full-samples.h5
/full-diag.txt
/unsmoothed
/unsmoothed-summary.csv
/unsmoothed-diag.txt
