*~
/data/*.csv
/data/*.gz
/.vscode
/work/
/scratch/
/trees/
*.iml
/.idea
__pycache__
*.pyc
*.pyo
.ipynb_checkpoints
.DS_Store
.Rhistory
*.rds
*.Rdata
*.rda
*.log
*.out
*.aux
tex2pdf.*
Rplots.pdf
*.7z
envvars.bat
.project
.settings
data_conf.ini
config.ini

**/tuning/*.cp

# Old Java things
build/
.gradle
gradle.properties
