train-ratings.*
test-ratings.*
/train-ratings.csv.gz
/train-ratings.parquet
/test-ratings.csv.gz
/test-ratings.parquet
/als-recs.parquet
/als-metrics.json
/bpr-recs.parquet
/bpr-metrics.json
/funksvd-recs.parquet
/funksvd-metrics.json
/funksvd-imp-recs.parquet
/funksvd-imp-metrics.json
/hpf-recs.parquet
/hpf-metrics.json
/hpf-imp-recs.parquet
/hpf-imp-metrics.json
/item-item-recs.parquet
/item-item-metrics.json
/item-item-imp-recs.parquet
/item-item-imp-metrics.json
/user-user-recs.parquet
/user-user-metrics.json
/user-user-imp-recs.parquet
/user-user-imp-metrics.json
/als-sweep.csv
/wrls-imp-recs.parquet
/wrls-imp-metrics.json
/bpr-imp-recs.parquet
/bpr-imp-metrics.json
/user-user-imp.opt
/user-user.opt
/item-item-imp.opt
/item-item.opt
/bpr-imp.opt
/hpf-imp.opt
/hpf.opt
/als.opt
/wrls-imp.opt
