/item-item.parquet
/item-item.csv.gz
/item-item.json
/user-user.parquet
/user-user.csv.gz
/user-user.json
/hpf.parquet
/hpf.csv.gz
/hpf.json
/wrls.parquet
/wrls.csv.gz
/wrls.json
/bpr.parquet
/bpr.csv.gz
/bpr.json
