/item-item.parquet
/item-item.csv.gz
/item-item.json
/item-item-imp.parquet
/item-item-imp.csv.gz
/item-item-imp.json
/user-user.parquet
/user-user.csv.gz
/user-user.json
/user-user-imp.parquet
/user-user-imp.csv.gz
/user-user-imp.json
/hpf.parquet
/hpf.csv.gz
/hpf.json
/hpf-imp.parquet
/hpf-imp.csv.gz
/hpf-imp.json
/als.parquet
/als.csv.gz
/als.json
/wrls-imp.parquet
/wrls-imp.csv.gz
/wrls-imp.json
/bpr-imp.parquet
/bpr-imp.csv.gz
/bpr-imp.json
