/ratings.csv.gz
/ratings.parquet
/sample-users.csv
/sample-ratings.csv
/sample-stats.json
/*.model
/recs-*.csv
/recs-*.parquet

/recs-hpf.parquet
/recs-hpf.csv
/recs-item-item-imp.parquet
/recs-item-item-imp.csv
/user-user.model
/recs-user-user.parquet
/recs-user-user.csv
/user-user-imp.model
/recs-user-user-imp.parquet
/recs-user-user-imp.csv
/hpf-imp.model
/recs-hpf-imp.parquet
/recs-hpf-imp.csv
/als.model
/recs-als.parquet
/recs-als.csv
/recs-item-item.parquet
/recs-item-item.csv
/recs-funksvd.csv
/recs-funksvd-imp.csv
/recs-bpr.csv

/item-item.model
/profile-samples.parquet
/profile-fit.pkl.zstd
/full-samples.parquet
/*-fit.pkl.zstd
/profile-samples.h5
/full-samples.h5
/profile-dcode-samples.h5
/full-dcode-samples.h5
