/ratings.csv.gz
/ratings.parquet
/sample-users.csv
/*.model
/recs-*.parquet
/recs-*.csv

/sample-ratings.csv
/sample-stats.json
/recs-item-item.parquet
/recs-item-item.csv
/recs-user-user.parquet
/recs-user-user.csv
/recs-funksvd.parquet
/recs-funksvd.csv
/recs-hpf.parquet
/recs-hpf.csv
/recs-als.parquet
/recs-als.csv
/recs-wrls.parquet
/recs-wrls.csv
/recs-bpr.parquet
/recs-bpr.csv
/item-item.model
/user-user.model
/funksvd.model
/hpf.model
/als.model
/wrls.model
/bpr.model
/profile-samples.parquet
/profile-fit.pkl.zstd
/full-samples.parquet
/*-fit.pkl.zstd
/profile-samples.h5
/full-samples.h5
/profile-dcode-samples.h5
/full-dcode-samples.h5
