train-ratings.*
test-ratings.*
/train-ratings.csv.gz
/train-ratings.parquet
/test-ratings.csv.gz
/test-ratings.parquet
/user-user-recs.parquet
/user-user-metrics.json
/als-recs.parquet
/als-metrics.json
/bpr-recs.parquet
/bpr-metrics.json
/funksvd-recs.parquet
/funksvd-metrics.json
/hpf-recs.parquet
/hpf-metrics.json
/item-item-recs.parquet
/item-item-metrics.json
/als-sweep.csv
/user-user.opt
/item-item.opt
/hpf.opt
/bpr.opt
/als.opt
